@model UsersAdminPanel.Models.User

<div>
    <h4>Add User</h4>
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        <input type="submit" value="Add" id="btnModalAdd" />
        <input type="reset" value="Cancel"  id="btnModalCancel"/>
    </div>
</div>

