@model UsersAdminPanel.Models.User

@{
    ViewBag.Title = "Index";
    var options = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("UsersTableData")
    };
}

<h2 id="heading">Users</h2>
<input type="button" value="Add" id="btnAdd" />
@using (Ajax.BeginForm(options))
{
    <div class="modalWindow">
        <div id="modalBackground" class="modalBackground hiddener">
        </div>
        <div class="modalView">
            <div class="modalContent">
                @Html.Partial("Create")
            </div>
        </div>
    </div>
            <div id="tabledata">
                @Html.Action("UsersTableData", new { user = Model })
            </div>
            }

            @section scripts
            {
                <script>
                    $(document).ready(function () {
                        $('#btnAdd').click(function () {
                            $(".modalWindow").css("visibility", "visible");
                        });
                        $(".hiddener").click(function () {
                            $(".modalWindow").css("visibility", "hidden");
                        });
                        $("#btnAdd").click(function () {
                            $(".text-box").val("");
                        });
                    });
                </script>
                
            }
