@model UsersAdminPanel.Models.User

@{
    ViewBag.Title = "Index";
    var options = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("UsersTableData")
    };
}

<h2>Users</h2>

@using (Ajax.BeginForm(options))
{
<div id="modalView">
    @Html.Partial("Create")
</div>
<div id="tabledata">
    @Html.Action("UsersTableData", new { user = Model })
</div>
}

